@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

:root{
    --main-color:rgb(255, 128, 0);
    --secondary-color:rgb(254, 232, 71);
    --main-background:#ffffff;
    --secondary-background:rgb(0, 0, 0);
    --border:.1rem solid rgb(255, 128, 0);
}

*{
	font-family: 'Bebas Neue', cursive;
    margin: 0; padding:0;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--main-color);
    border-radius: 5rem;
}

body{
    background: var(--main-background);
    background-color: #000000;
    color: var(--main-color);
    margin-top: -200px;
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:var(--main-background);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:var(--secondary-background);
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--main-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: -5px; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 5rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:var(--main-color);
}

.header .navbar a:hover{
    color:var(--secondary-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icones div{
    color:var(--main-color);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icones div:hover{
    color:var(--secondary-color);
}


.header .icones .menu-menu{
	position:absolute;
	display:block;
	margin-top: 32px;
	margin-left: -25px;
	padding: 10px 15px;
	background: var(--main-color);
	width: 160px;
	border-radius: 5px;
	transition: 0.5s;
	visibility: hidden;
	opacity: 0;
}
.header .icones .menu-menu.active{
	visibility: visible;
	opacity: 1;
	}
.header .icones .menu-menu::before{
	content:'';
	position:absolute;
	top: -5px;
	right: 115px;
	transform: rotate(45deg);
	height: 20px;
	background: var(--main-color);
	width: 20px;
}

.header .icones .menu-menu h3{
	width: 100px;
	text-align: center;	
	font-size: 18px;
	padding: 20px 0;
	font-weight: 500;
	color: #fff;
	line-height: 1.2em;
}

.header .icones .menu-menu span{	
	font-size: 18px;
	font-weight: 500;
	color: #fff;
}

.header .icones .menu-menu ul li{
	list-style: none;
	padding: 10px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;	
	align-items: center;
}

.header .icones .menu-menu ul li a{
	width: 100px;
	text-align: center;	
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	line-height: 1.2em;

}
.li{
	color:#fff;
}
.header .icones .menu-menu ul li a:hover{
	color: #c0c0c0;	
	
}
.header .icones .usuario-menu{
	position:absolute;
	display:block;
	margin-top: 32px;
	margin-left: -25px;
	padding: 10px 15px;
	background: var(--main-color);
	width: 160px;
	border-radius: 5px;
	transition: 0.5s;
	visibility: visible;
	opacity: 1;
}
.header .icones .usuario-menu.active{
	visibility: hidden;
	opacity: 0;
	}
.header .icones .usuario-menu::before{
	content:'';
	position:absolute;
	top: -5px;
	right: 115px;
	transform: rotate(45deg);
	height: 20px;
	background: var(--main-color);
	width: 20px;
}

.header .icones .usuario-menu h3{
	width: 100px;
	text-align: center;	
	font-size: 18px;
	padding: 20px 0;
	font-weight: 500;
	color: #fff;
	line-height: 1.2em;
}

.header .icones .usuario-menu span{	
	font-size: 18px;
	font-weight: 500;
	color: #fff;
}

.header .icones .usuario-menu ul li{
	list-style: none;
	padding: 10px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;	
	align-items: center;
}

.header .icones .usuario-menu ul li a{
	width: 100px;
	text-align: center;	
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	line-height: 1.2em;

}
.header .icones .usuario-menu ul li a:hover{
	color: #c0c0c0;	
	
}
.home{
    min-height: 100vh;
    display: flex;
    padding: 100px;
    margin-top:250px;
    background: var(--secondary-background);
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:#fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:rgb(255, 255, 255);
}

.sobre .row{
    display: flex;
    align-items: center;
    background:var(--secondary-background);
    flex-wrap: wrap;
}

.sobre .row .imagem{
    flex:1 1 45rem;
}

.sobre .row .imagem img{
    width: 100%;
}
.sobre .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.sobre .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.sobre .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}
.produtos .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.produtos .box-container .box{
    text-align: center;
    border:var(--border);
    padding: 2rem;
    background:var(--secondary-background);
}
.produtos .box-container .box .imagem{
    padding: 2.5rem 0;
}

.produtos .box-container .box .imagem img{
    height: 20rem;
}

.produtos .box-container .box .content h3{
    color:var(--secondary-color);
    font-size: 2.5rem;
}
.produtos .box-container .box .content p{
    color:#00ff00;
    font-size: 2.5rem;
}

.footer{
    background:var(--secondary-background);
    text-align: center;
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:var(--main-color);
    border:var(--border);
    font-size: 2rem;
}
.footer .links a:hover{
	color:var(--secondary-color);
	}
	
.footer{
    font-size: 2rem;
    color:var(--secondary-background);
    font-weight: lighter;
    padding:1.5rem;
}

.footer span{
    color:var(--main-color);
}

.lay{
	padding: 250px;
	margin: auto;
	margin-top:70px;
}
.lay td,th{
	font-size:180%;
	
}
.button.btn{
	text-align: center;
}
.lay h1,h2{
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	font-size: 30px;
}

form{
	width:420px;
	border-radius: 10px;
	font-family: 'Bebas Neue', cursive;
	background:#fff;
	margin:auto;
	display: block;
	margin-top:10px;
	padding:10px;
	size:18px;
	font-size:22px;
}
.produ{
	width:420px;
	height:310px;
	border-radius: 10px;
	font-family: 'Bebas Neue', cursive;
	background:#fff;
	margin:auto;
	display: block;
	margin-top:10px;
	padding:10px;
	size:18px;
	font-size:12px;
}
label{
	display:block;
	margin-top:10px;
}
input {
    padding: 10px;
    width: 400px;
    border: 1px solid var(--main-color);
    outline: 0;
    border-radius: 10px;
}
input[type="pqn"] {
    padding: 10px;
    width: 40px;
    border: 1px solid var(--main-color);
    outline: 0;
	border-radius: 10px;
}
table {
    width: 340px;
    background: white;
    margin: auto;
    margin-top: 30px;
    padding: 10px 70px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid var(--main-color);
}
button.btn{
	width: 100px;
    color: orange;
    background: black;
    border: 1px solid var(--main-color);
    font-size:20px;
    border-radius: 10px;
}
div a {
    z-index: 2;
    position: relative;
}
.car{
	padding:.7rem 2rem;
    color:var(--main-color);
    border:var(--border);
    font-size: 2rem;
}

