<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Loja Teste</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="css/style.css">

</head>
<body>

	<header class="header">

		<a href="#" class="logo"> <img src="imagens/icone.png" alt="">
		</a>

		<nav class="navbar">
			<a href="#home">Inicio</a> <a href="#sobre">Sobre nós</a> <a
				href="#produtos">Nossos Produtos</a>
		</nav>

		<div class="icones">
			<div class="fas fa-user" onclick="usuarioToggle();">
				<div class="usuario-menu">
					<div sec:authorize="!isAuthenticated()">
						<a href="/cadastro">Cadastre-se</a> <a href="/login">Entrar</a>
					</div>
					<div sec:authorize="isAuthenticated()">
						<h3>
							Olá, <span sec:authentication="principal.nome">nome</span> <br><br>Seus
							dados são:
						</h3>
						<ul>
							<li>Email:<span sec:authentication="principal.email">email</span></li>
							<li>Telefone:<span sec:authentication="principal.telefone">telefone</span></li>
							<li>Endereço:<span sec:authentication="principal.endereco">endereço</span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="fas fa-bars" onclick="menuToggle();">
				<div class="menu-menu">
					<div sec:authorize="!isAuthenticated()">
						<a href="/cadastro">Cadastre-se</a> <a href="/login">Entrar</a>
					</div>
					<div sec:authorize="isAuthenticated()">
						<ul>
							<li sec:authorize="hasRole('CLIENTE')"><a
								href="/pedidos/clientes">Meus pedidos</a></li>
							<li sec:authorize="hasRole('FUNCIONARIO')"><a
								href="/funcionario">Gerenciamento</a></li>
							<li sec:authorize="hasRole('GERENTE')"><a
								href="/gerente/adm">Gerenciamento</a></li>
							<li><a href="/logout">Sair</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="home" id="home">

		<div class="content">
			<h3>Titulo</h3>
			<p>Paragrafo</p>
		</div>

	</section>
	<section class="sobre" id="sobre">

		<h1 class="heading">Sobre Nós</h1>

		<div class="row">

			<div class="imagem">
				<img src="imagens/sobre.jpg" alt="">
			</div>

			<div class="content">
				<h3>Titulo</h3>
				<p>paragrafo</p>
			</div>
		</div>
	</section>

	<section class="produtos" id="produtos">

		<h1 class="heading">Nossos Produtos</h1>
		<div class="box-container">

			<table class="tabela-prod" id="tabela-prod">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nome</th>
						<th>Marca</th>
						<th>Preço</th>
						<th>Quantidade</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p :${produtos}">
						<td th:text="${p.id}">1</td>
						<td th:text="${p.nome}">1</td>
						<td th:text="${p.marca}">1</td>
						<td th:text="${p.preco}">1</td>
						<td th:text="${p.qtd}">1</td>
						<td><button class="car">ADICIONAR AO CARRINHO</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<section class="footer">

		<div class="links">
			<a href="#home">Inicio</a> <a href="#sobre">Sobre</a> <a
				href="#produtos">Nossos produtos</a>
		</div>

	</section>
	<script src="js/script.js"></script>
</body>
</html>