<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>Cliente</title>
</head>
<body>
	<h1>Cadastrar Cliente</h1>
	<form action="">
		<div>
			<label>Nome:</label> <input type="text" name="nome">
		</div>
		<div>
			<label>Endereço:</label> <input type="text" name="endereco">
		</div>
		<div>
			<label>Email:</label> <input type="text" name="email">
		</div>
		<div>
			<label>Senha:</label> <input type="text" name="senha">
		</div>
		<button class="waves-effect waves-light btn" type="submit">Registrar</button>
		<button class="waves-effect waves-light btn" type="reset">Limpar</button>
	</form>
	
</body>
</html>